@media screen and (min-width: $min_screen_width) {
    .topic-post:not(.d-toc-post) .topic-body {
        width: calc(#{$topic-body-width} + (#{$topic-body-width-padding} * 2) + #{$additional_post_width});
    }

    .topic-status-info, .onscreen-post {
        max-width: calc(758px + #{$additional_post_width});
    }

    @if $increase_editor_width {   
        #reply-control {
            max-width: calc(1475px + (#{$additional_post_width} * 2));
        }
    }
}
